@import "../Root/colors";
@import "../Root/utils";

.navbar{
    background-color: $gray-40;
    &-default{
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }
    .logo{
        font-size: rem(25px);
    }
}