@use "sass-rem" as *;
@import "../Root/colors";
@import "../Root/utils";

.navbar{
    background-color: $gray-40;
    &-default{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        // height: 7%;
    }
    .logo{
        font-size: rem(25px);
    }
}