.w {
  &-0 {
    width: 0%!important;
  }

  &-25 {
    width: 25%!important;
  }

  &-50 {
    width: 50%!important;
  }

  &-75 {
    width: 75%!important;
  }

  &-100 {
    width: 100%!important;
  }
}
