$black: #0A0A0A;
$white: #FFFFFF;


// Grayscale
$gray-100: #0A0A0A;
$gray-90: #424242;
$gray-80: #616161;
$gray-70: #757575;
$gray-60: #9E9E9E;
$gray-50: #C2C2C2;
$gray-40: #E0E0E0;
$gray-30: #EDEDED;
$gray-20: #F5F5F5;
$gray-10: #FFFFFF;

//Primary Colors
$primary-main: #3B24AD;
$primary-secondary: #F8F5FF;
$primary-border: #B6ABED;
$primary-hover: #3918D9;
$primary-pressed: #230F80;
$primary-focused: #E7E3FC;

//Danger Colors
$danger-main:#921919;
$danger-secondary: #E9D1D1;
$danger-border: #DBB2B2;
$danger-hover: #611111;
$danger-pressed: #490C0C;
$danger-focused: #C88C8C;

//Warning Colors
$warning-main: #EABB42;
$warning-secondary: #FBF1D9;
$warning-border: #F8E8C0;
$warning-hover: #B69237;
$warning-pressed: #A9945F;
$warning-focused: #F8E8C0;

//Success Colors
$success-main: #35B932;
$success-secondary: #D7F1D6;
$success-border: #9ADC98;
$success-hover: #4AAA48;
$success-pressed: #6DA66C;
$success-focused: #9ADC98;

//Info Colors
$info-main: #194689;
$info-secordary: #D1DAE7;
$info-border: #B2C1D8;
$info-hover: #112F5B;
$info-pressed: #0C2344;
$info-focused: #B2C1D8;